<!-- Generative AI Section -->

<div class="full-bg-wallpaper">

    <div class="container-fluid p-3">
        <div>

        <div class="accordion-item">
          
            <div>
                <div class="accordion-body">
                    <div class="row mb-5">

                        <div class="col-md-4 d-flex align-items-stretch">
                            <a href="/banking?header=Banking" class="industry-card">
                                <img src="assets/Generative AI/Banking.jpg" alt="Banking">
                                <h4>Banking</h4>
                                <p>Creating innovative financial products with generative AI.</p>
                            </a>
                        </div>

                        <div class="col-md-4 d-flex align-items-stretch">
                            <a href="/banking?header=Insurance" class="industry-card">
                                <img src="assets/Generative AI/Insurance png.png" alt="Insurance">
                                <h4>Insurance</h4>
                                <p>Generating personalized insurance plans.</p>
                            </a>
                        </div>

                        <div class="col-md-4 d-flex align-items-stretch">
                            <a href="/banking?header=Retails" class="industry-card">
                                <img src="assets/Generative AI/Retails.png" alt="Retails">
                                <h4>Retails</h4>
                                <p>Designing unique customer experiences.</p>
                            </a>
                        </div>

                        <div class="col-md-4 d-flex align-items-stretch">
                            <a href="/banking?header=Healthcare" class="industry-card">
                                <img src="assets/Generative AI/Healthcare png.png" alt="Healthcare">
                                <h4>Healthcare</h4>
                                <p>Generating synthetic data for research.</p>
                            </a>
                        </div>

                        <div class="col-md-4 d-flex align-items-stretch">
                            <a href="/banking?header=Hospitality" class="industry-card">
                                <img src="assets/Generative AI/Hospitality.jpg" alt="Hospitality">
                                <h4>Hospitality</h4>
                                <p>Creating personalized travel recommendations.</p>
                            </a>
                        </div>

                        <div class="col-md-4 d-flex align-items-stretch">
                            <a href="/banking?header=Media" class="industry-card">
                                <img src="assets/Generative AI/Media (2).jpg" alt="Media">
                                <h4>Media</h4>
                                <p>Producing creative content with AI.</p>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        </div>
    </div>

</div>
