<div class="login-wrapper">
  <div class="login-card">

    <!-- BACKGROUND IMAGE INSIDE HTML -->
    <img src="assets\login-background.png" class="bg-image" alt="background">

    <!-- Logo -->
    <img src="assets\a2n-logo (2).png" class="logo" alt="Logo">

    <h1>Welcome to AI world</h1>
    <p class="subtitle">Login to your Smart Gate account</p>

    <div class="input-box">
      <input
        type="text"
        [(ngModel)]="username"
        placeholder="Enter your email">
    </div>

    <div class="input-box">
      <input
        type="password"
        [(ngModel)]="password"
        placeholder="Password">
    </div>

    <span class="forgot">Forgot password ?</span>

    <button class="btn-login" (click)="onSubmit()">Login</button>

    <p class="terms">
      By continuing, you agree to A2n.pro's Conditions of Use and Privacy Notice.
    </p>

  </div>
</div>
