.login-wrapper {
  width: 100%;
  height: 100vh;
  background: #e8f5ff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -90px;
}

/* CARD CONTAINER */
.login-card {
  width: 850px;
  padding: 40px 40px 50px 40px;
  border-radius: 20px;
  text-align: center;
  position: relative;
  overflow: hidden; /* needed for rounded image corners */
  box-shadow: 0 10px 30px rgba(0,0,0,0.15);
  background: rgba(255,255,255,0.10);
  backdrop-filter: blur(5px);
}

/* BACKGROUND IMAGE INSIDE CARD */
.bg-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  border-radius: 20px;
  opacity: 1;
}

/* CONTENT ABOVE THE IMAGE */
.logo,
h1,
.subtitle,
.input-box,
.forgot,
.btn-login,
.terms {
  position: relative;
  z-index: 2; /* show above background image */
}

.logo {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-top: 10px;
}

/* TEXT */
h1 {
  font-size: 28px;
  font-weight: 600;
  margin: 15px 0 5px 0;
  color: #fff;
}

.subtitle {
  font-size: 15px;
  margin-bottom: 25px;
  color: #fff;
}

/* INPUTS */
.input-box {
  width: 65%;
  margin: 0 auto 15px;
}

.input-box input {
  width: 100%;
  padding: 13px;
  border-radius: 10px;
  border: none;
  font-size: 14px;
}

/* FORGOT PASSWORD */
.forgot {
  width: 65%;
  margin: 5px auto 20px;
  display: block;
  text-align: right;
  cursor: pointer;
  font-size: 13px;
  color: #fff;
}

/* LOGIN BUTTON */
.btn-login {
  width: 200px;
  padding: 13px;
  border-radius: 10px;
  background: rgba(255,255,255,0.25);
  border: 1px solid rgba(255,255,255,0.4);
  color: white;
  font-size: 17px;
  cursor: pointer;
  transition: 0.3s;
  backdrop-filter: blur(6px);
}

.btn-login:hover {
  background: rgba(255,255,255,0.35);
}

/* TERMS TEXT */
.terms {
  font-size: 12px;
  margin-top: 20px;
  opacity: 0.9;
  color: #fff;
}
