<div class="full-bg-wallpaper">

    <div class="container-fluid p-3">
        <div>
            <div class="accordion-body">
                <div class="row mb-5">

                    <div class="col-md-4 d-flex align-items-stretch">
                        <a class="industry-card" (click)="chatbot()">
                            <img src="assets/Conventional AI/Chat bot.png" alt="Banking">
                            <h4>chat bot</h4>
                            <p>Streamlining operations with traditional AI solutions.</p>
                        </a>
                    </div>

                    <div class="col-md-4 d-flex align-items-stretch" (click)="Audiobot()">
                        <a class="industry-card">
                            <img src="assets/Conventional AI/audio bot.png" alt="Insurance">
                            <h4>Audio bot</h4>
                            <p>Optimizing claims processing and fraud detection.</p>
                        </a>
                    </div>

                    <div class="col-md-4 d-flex align-items-stretch" (click)="Retails()">
                        <a class="industry-card">
                            <img src="assets/Conventional AI/Vision bot.png" alt="Retails">
                            <h4>Vision Bot</h4>
                            <p>Enhancing inventory management and sales forecasting.</p>
                        </a>
                    </div>

                    <div class="col-md-4 d-flex align-items-stretch" (click)="healthcare()">
                        <a class="industry-card">
                            <img src="assets/Conventional AI/Traning bot.png" alt="Healthcare">
                            <h4>Training Bot</h4>
                            <p>Supporting clinical decision-making with AI.</p>
                        </a>
                    </div>

                    <div class="col-md-4 d-flex align-items-stretch" (click)="gotohospility()">
                        <a class="industry-card">
                            <img src="assets/Conventional AI/Hiring bot.png" alt="Hospitality">
                            <h4>Hiring Bot </h4>
                            <p>Improving operational efficiency in hospitality.</p>
                        </a>
                    </div>

                    <div class="col-md-4 d-flex align-items-stretch" (click)="gotoComparison()">
                        <a class="industry-card">
                            <img src="assets/Conventional AI/Comparison bot.png" alt="">
                            <h4>Comparision bot</h4>
                            <p>Enhancing content delivery and analytics.</p>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
