<header class="header-container">

  <!-- ⭐ BACK BUTTON only if showBackButton = true -->
  <img 
    *ngIf="showBackButton"
    class="backBtn"
    src="assets/All_logo/back-button.png" 
    alt="Back"
    (click)="goBack()"
  />

  <img class="headerImg" src="assets/images/headerImg.png" alt="">

  <div class="navLogo">
      <img src="assets/a2n-logo (2).png" alt="">
  </div>

</header>

<div>
  <router-outlet></router-outlet>
</div>

<footer class="fixed-bottom bg-white">
  <img src="assets/images/headerImg.png" class="footerImg" alt="">

  <div class="footerContainer">
    <div class="footerCol">
        <img src="assets/images/phone.png" alt="">
    </div>
    <div class="footerCol"></div>
    <div class="footerCol"></div>
  </div>
</footer>
