  <div class="accordion-item">


<!-- 🎥 Background Video -->
    <div class="video-background">
        <video autoplay muted loop playsinline>
            <source src="assets/background video/Untitled design.mp4 " type="video/mp4">
        </video>
    </div>



            <!-- <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Agentic AI
                </button>
            </h2> -->
            <div >
                <div class="accordion-body">
                   <div class="row mb-5 card-row">

<div class="col-md-4 agentic-ai-card">
    <div class="card border-0 shadow-lg" style="max-width: 400px; background: #f8f9fa;">
        
        <a href="javascript:void(0)" (click)="gotoRob()">

            <div class="card-img-top">
                <img src="assets/Agentic AI/Tejas.png" class="card-img-top">
                <!-- <span class="badge bg-primary-subtle text-primary-emphasis tech-lable">Banking & FinTech</span> -->
                <h2 class="card-title mb-4">Meet Tejas!</h2>
            </div>

            <div class="card-body p-4">
                <p class="card-text text-secondary mb-4">
                    Tejas is a sophisticated AI agent tailored for the banking and fintech industry.
                </p>

                <button class="agent-btn">Banking & FinTech</button>
            </div>

        </a>

    </div>
</div>



                            



                        <div class="col-md-4 agentic-ai-card">
                            <div class="card border-0 shadow-lg" style="max-width: 400px; background: #f8f9fa;" (click)="gotosarina()">
                                <a>
                                    <div class="card-img-top">
                                        <img src="assets/Agentic AI/Aanya.png" class="card-img-top" alt="Sandra">
                                        <!-- <span class="badge bg-primary-subtle text-primary-emphasis tech-lable">Insurance</span> -->
                                        <h2 class="card-title mb-4" style="color: #2a3f5d;">Meet Aanya!</h2>
                                    </div>
                                    <div class="card-body p-4">
                                        <p class="card-text text-secondary mb-4" style="line-height: 1.6;">
                                            Aanya is a sophisticated AI agent tailored for the banking and fintech industry.
                                            <div>
                                            <button class="agent-btn retail">Insurance</button>

            </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4 agentic-ai-card">
                            <div class="card border-0 shadow-lg" style="max-width: 400px; background: #f8f9fa;" (click)="gotoSandra()" >
                                <a>
                                    <div class="card-img-top">
                                        <img src="assets/Agentic AI/Tanvi png.png" class="card-img-top" alt="Sandra">
                                        <!-- <span class="badge bg-primary-subtle text-primary-emphasis tech-lable">Retails</span> -->
                                        <h2 class="card-title mb-4" style="color: #2a3f5d;">Meet Tanvi!</h2>
                                    </div>
                                    <div class="card-body p-4">
                                        <p class="card-text text-secondary mb-4" style="line-height: 1.6;">
                                            Tanvi is a sophisticated AI agent tailored for the banking and fintech industry.

                                            <div>
                                                 <button class="agent-btn retail">Retails</button>
                                            </div>


                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4 agentic-ai-card">
                            <div class="card border-0 shadow-lg" style="max-width: 400px; background: #f8f9fa;" (click)="gotoMax()">
                                <a>
                                    <div class="card-img-top">
                                        <img src="assets/Agentic AI/Yash png.png" class="card-img-top" alt="Sandra">
                                        <!-- <span class="badge bg-primary-subtle text-primary-emphasis tech-lable">Healthcare</span> -->
                                        <h2 class="card-title mb-4" style="color: #2a3f5d;">Meet Yash!</h2>
                                    </div>
                                    <div class="card-body p-4">
                                        <p class="card-text text-secondary mb-4" style="line-height: 1.6;">
                                            Yash is a sophisticated AI agent tailored for the banking and fintech industry. 

                                            <div>

                                                  <button class="agent-btn healthcare">Healthcare</button>
                                            </div>


                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4 agentic-ai-card">
                            <div class="card border-0 shadow-lg" style="max-width: 400px; background: #f8f9fa;"  (click)="gotoreena()" >
                                <a>
                                    <div class="card-img-top">
                                        <img src="assets/Agentic AI/Reva.png" class="card-img-top" alt="Sandra">
                                        <!-- <span class="badge bg-primary-subtle text-primary-emphasis tech-lable">Hospitality</span> -->
                                        <h2 class="card-title mb-4" style="color: #2a3f5d;">Meet Reva!</h2>
                                    </div>
                                    <div class="card-body p-4">
                                        <p class="card-text text-secondary mb-4" style="line-height: 1.6;">
                                            Reva is a sophisticated AI agent tailored for the banking and fintech industry. 
                                        </p>


                                        <div>
                                             <button class="agent-btn hospitality">Hospitality</button>

                                        </div>


                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4 agentic-ai-card">
                            <div class="card border-0 shadow-lg" style="max-width: 400px; background: #f8f9fa;" (click)="gotoJuli()">
                                <a>
                                    <div class="card-img-top">
                                        <img src="assets/Agentic AI/Vidhi.png" class="card-img-top" alt="Sandra">
                                        <!-- <span class="badge bg-primary-subtle text-primary-emphasis tech-lable">Media</span> -->
                                        <h2 class="card-title mb-4" style="color: #2a3f5d;">Meet Vidhi!</h2>
                                    </div>
                                    <div class="card-body p-4">
                                        <p class="card-text text-secondary mb-4" style="line-height: 1.6;">
                                            Vidhi is a sophisticated AI agent tailored for the banking and fintech industry. 
                                        </p>

                                         <button class="agent-btn hospitality">Media</button>



                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>