<nav class="container-fluid height: 8vh; my-auto py-auto d-flex align-items-center">
   
</nav>

<section class="page">

    <div class="pt-5">
        <h4 class="headline">Our Solutions for Industry</h4>
    </div>

    <div class="container pt-5 d-flex justify-content-around ">

        <div class="card bg1" style="width: 14rem; height: 18rem;">
            <div class="card-body d-flex align-items-end">
                <button type="button" class="btn btn-light w-100" (click)="goToAgenticAI()">Agentic AI</button>
            </div>
        </div>
        <div class="card bg2" style="width: 14rem; height: 18rem;">
            <div class="card-body d-flex align-items-end">
                <button type="button" class="btn btn-light w-100" (click)="goToConventionalAI()">Conventional AI</button>
            </div>
        </div>
        <div class="card bg3" style="width: 14rem; height: 18rem;">
            <div class="card-body d-flex align-items-end">
                <button type="button" class="btn btn-light w-100" (click)="goToGenerativeAI()">Generative AI</button>
            </div>
        </div>
        <div class="card bg4" style="width: 14rem; height: 18rem;">
            <div class="card-body d-flex align-items-end">
                <button type="button" class="btn btn-light w-100" (click)="goToRPA()">RPA</button>
            </div>
        </div>

    </div>

</section>